@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

.ql-toolbar.ql-snow {
    background-color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.ql-container.ql-snow {
    background-color: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    min-height: 250px;
}

.ql-snow .ql-picker-options .ql-picker-item,
.ql-snow .ql-picker-label,
.ql-snow .ql-stroke {
    transition: .5s ease-in-out;
}

/* .ql-snow .ql-picker-label {
    transition: .5s ease-in-out;
}

.ql-snow .ql-stroke {
    transition: .5s ease-in-out;
} */

.ql-snow.ql-toolbar button:hover, 
.ql-snow .ql-toolbar button:hover, 
.ql-snow.ql-toolbar button:focus, 
.ql-snow .ql-toolbar button:focus, 
.ql-snow.ql-toolbar button.ql-active, 
.ql-snow .ql-toolbar button.ql-active, 
.ql-snow.ql-toolbar .ql-picker-label:hover, 
.ql-snow .ql-toolbar .ql-picker-label:hover, 
.ql-snow.ql-toolbar .ql-picker-label.ql-active, 
.ql-snow .ql-toolbar .ql-picker-label.ql-active, 
.ql-snow.ql-toolbar .ql-picker-item:hover, 
.ql-snow .ql-toolbar .ql-picker-item:hover, 
.ql-snow.ql-toolbar .ql-picker-item.ql-selected, 
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #AFFC41 !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke, 
.ql-snow .ql-toolbar button:hover .ql-stroke, 
.ql-snow.ql-toolbar button:focus .ql-stroke, 
.ql-snow .ql-toolbar button:focus .ql-stroke, 
.ql-snow.ql-toolbar button.ql-active .ql-stroke, 
.ql-snow .ql-toolbar button.ql-active .ql-stroke, 
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, 
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, 
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, 
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, 
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, 
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, 
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, 
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, 
.ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow 
.ql-toolbar button:hover .ql-stroke-miter, 
.ql-snow.ql-toolbar button:focus .ql-stroke-miter, 
.ql-snow .ql-toolbar button:focus .ql-stroke-miter, 
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, 
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, 
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, 
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, 
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, 
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, 
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, 
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, 
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, 
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
    stroke: #AFFC41 !important;
}

.hamburger-react div div {
    height: 2px !important;
}

.react-confirm-alert-overlay {
    background: rgba(0, 0, 0, 0.205) !important;
    backdrop-filter: blur(5px);
}

.info-content h1 {
    font-weight: 700;
    font-size: 60px;
    color: #AFFC41;
    line-height: 1;
}

.info-content h2 {
    font-weight: 700;
    font-size: 48px;
    color: #AFFC41;
}

.info-content ul {
    list-style: circle;
    margin-left: 10px;
}

.info-content ul,
.info-content p {
    font-weight: 200;
    color: #fff;
}

.info-content a {
    border-bottom: 1px solid #fff;
    transition: .5s ease-in-out;
}

.info-content a:hover {
    opacity: 0.8;
}

.full-screen {
    height: calc(100vh - 56px);
}

[data-rmiz-wrap="visible"] {
    height: 100% !important;
}