@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

.ql-toolbar.ql-snow {
    background-color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.ql-container.ql-snow {
    background-color: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}